* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    margin: 0px;
    background-color: green;
    justify-content: center;
    align-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    margin: 40px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    justify-content: center;
}

.placar2{
    height: 20px
}

.rodape{
    margin-top: 50px;
}

@media (min-width: 750px){
    .container h1{
        padding-bottom: 40px;
        font-size: 100px;
    }
    .container h2{
        padding: 20px;
        font-size: 60px;
    }
    .container h4{
        padding: 20px;
        font-size: 30px;
    }
    
    input{
        border-color: black;
        width: 150px;
        height: 100px;
        margin: 5px;
    }

    .placar{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}





